<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <h3 class="page-title">Batch Progress <a href="javascript:void(0);" onclick="javascript:window.print();" class="text-info" title="Print Page Report"><i class="fa fa-print"></i> Print</a></h3> 
                <h4><b>Batch No: </b>{{batchNo}}</h4>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <ul class="timeline">
                        <li>
                            <div [ngClass]="batchStage >= 0 ? 'timeline-badge success' : 'timeline-badge danger'">
                                <i [ngClass]="batchStage >= 0 ? 'fa fa-check' : 'fa fa-times'"></i>
                            </div>
                            <div class="timeline-panel" id="cultivationSection">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Cultivation</h4>
                                    <p><small class="text-muted text-success activityDateTime"></small> </p>
                                    <span class="activityQrCode"></span>
                                </div>
                                <div class="timeline-body">
                                    <table class="table activityData table-responsive" >
                                        <tr *ngIf="batchStage < 0">
                                            <td colspan="2"><p>Information Not Avilable</p></td>
                                        </tr>
                                        <div *ngIf="batchStage >= 0">
                                            <tr>
                                                <td><b>Farmer Name: </b></td>
                                                <td>{{basicDetail.farmerName}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Farm Address: </b></td>
                                                <td>{{basicDetail.farmerAddress}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Exporter Name: </b></td>
                                                <td>{{basicDetail.exporterName}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Importer Name: </b></td>
                                                <td>{{basicDetail.importerName}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Registration No: </b></td>
                                                <td>{{basicDetail.regisNo}}</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div [ngClass]="batchStage >= 1 ? 'timeline-badge success' : 'timeline-badge danger'">
                                <i [ngClass]="batchStage >= 1 ? 'fa fa-check' : 'fa fa-times'"></i>
                            </div>
                            <div class="timeline-panel" id="farmInspectionSection">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Farm-Inspector</h4>
                                    <p><small class="text-muted text-success activityDateTime"></small> </p>
                                    <span class="activityQrCode"></span>
                                </div>
                                <div class="timeline-body">
                                    <table class="table activityData table-responsive">
                                        <tr *ngIf="batchStage < 1">
                                            <td colspan="2"><p>Information Not Avilable</p></td>
                                        </tr>
                                        <div *ngIf="batchStage >= 1">
                                            <tr>
                                                <td><b>Coffee Family: </b></td>
                                                <td>{{farmInspectorData.family}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Fertilizer Used: </b></td>
                                                <td>{{farmInspectorData.fert}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Type Of Seed: </b></td>
                                                <td>{{farmInspectorData.seed}}</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li>
                           <div [ngClass]="batchStage >= 2 ? 'timeline-badge success' : 'timeline-badge danger'">
                                <i [ngClass]="batchStage >= 2 ? 'fa fa-check' : 'fa fa-times'"></i>
                            </div>
                            <div class="timeline-panel" id="harvesterSection">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Harvester</h4>
                                    <p><small class="text-muted text-success activityDateTime"></small> </p>
                                    <span class="activityQrCode"></span>
                                </div>
                                <div class="timeline-body">
                                    <table class="table activityData table-responsive" >
                                        <tr *ngIf="batchStage < 2"> 
                                            <td colspan="2"><p>Information Not Avilable</p></td>
                                        </tr>
                                        <div *ngIf="batchStage >= 2">
                                            <tr>
                                                <td><b>Crop Variety: </b></td>
                                                <td>{{harvesterData.variety}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Humidity: </b></td>
                                                <td>{{harvesterData.humidity}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Temperature Used: </b></td>
                                                <td>{{harvesterData.temperature}}</td>
                                            </tr>
                                        </div>
                                    </table>        
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div [ngClass]="batchStage >= 3 ? 'timeline-badge success' : 'timeline-badge danger'">
                                <i [ngClass]="batchStage >= 3 ? 'fa fa-check' : 'fa fa-times'"></i>
                            </div>
                            <div class="timeline-panel" id="exporterSection"> 
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Exporter</h4>
                                    <p><small class="text-muted text-success activityDateTime"></small> </p>
                                    <span class="activityQrCode"></span>
                                </div>
                                <div class="timeline-body">
                                    <table class="table activityData table-responsive">
                                        <tr *ngIf="batchStage < 3">
                                            <td colspan="2"><p>Information Not Avilable</p></td>
                                        </tr>
                                        <div *ngIf="batchStage >= 3">
                                            <tr>
                                                <td><b>Departure DateTime: </b></td>
                                                <td>{{exporterData.departure}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Destination: </b></td>
                                                <td>{{exporterData.destination}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Estimated DateTime: </b></td>
                                                <td>{{exporterData.dateTime}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Exporter ID: </b></td>
                                                <td>{{exporterData.exporterID}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Quantity: </b></td>
                                                <td>{{exporterData.quantity}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Ship Name: </b></td>
                                                <td>{{exporterData.shipName}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Ship No: </b></td>
                                                <td>{{exporterData.shipNo}}</td>
                                            </tr>
                                        </div>
                                    </table>  
                                </div>
                            </div>
                        </li>
                        <li>
                            <div [ngClass]="batchStage >= 4 ? 'timeline-badge success' : 'timeline-badge danger'">
                                <i [ngClass]="batchStage >= 4 ? 'fa fa-check' : 'fa fa-times'"></i>
                            </div>
                            <div class="timeline-panel" id="importerSection">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Importer</h4>
                                    <p><small class="text-muted text-success activityDateTime"></small> </p>
                                    <span class="activityQrCode"></span>
                                </div>
                                <div class="timeline-body">
                                   <table class="table activityData table-responsive" >
                                        <tr *ngIf="batchStage < 4">
                                            <td colspan="2"><p>Information Not Avilable</p></td>
                                        </tr>
                                        <div *ngIf="batchStage >= 4">
                                            <tr>
                                                <td><b>Arrival DateTime: </b></td>
                                                <td>{{importerData.arrivalDateTime}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Importer ID: </b></td>
                                                <td>{{importerData.destination}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Quantity: </b></td>
                                                <td>{{importerData.quantity}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Ship Name: </b></td>
                                                <td>{{importerData.shipName}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Ship No: </b></td>
                                                <td>{{importerData.shipNo}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Transport Info: </b></td>
                                                <td>{{importerData.transportInfo}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Warehouse Address: </b></td>
                                                <td>{{importerData.warehouseAddress}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Warehouse Name: </b></td>
                                                <td>{{importerData.warehouseName}}</td>
                                            </tr>
                                            
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div [ngClass]="batchStage >= 5 ? 'timeline-badge success' : 'timeline-badge danger'">
                                <i [ngClass]="batchStage >= 5 ? 'fa fa-check' : 'fa fa-times'"></i>
                            </div>
                            <div class="timeline-panel" id="processorSection">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Processor</h4>
                                    <p><small class="text-muted text-success activityDateTime"></small> </p>
                                    <span class="activityQrCode"></span>
                                </div>
                                <div class="timeline-body">
                                    <table class="table activityData table-responsive" >
                                        <tr *ngIf="batchStage < 5">
                                            <td colspan="2"><p>Information Not Avilable</p></td>
                                        </tr>
                                        <div *ngIf="batchStage >= 5">
                                            <tr>
                                                <td><b>Internal Batch No: </b></td>
                                                <td>{{processorData.internalBatchNo}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Package Date Time: </b></td>
                                                <td>{{processorData.packageDateTime}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Processor Address: </b></td>
                                                <td>{{processorData.processorAddress}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Processor Name: </b></td>
                                                <td>{{processorData.processorName}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Quantity: </b></td>
                                                <td>{{processorData.quantity}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Roasting Duration: </b></td>
                                                <td>{{processorData.rostingDuration}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Temperature: </b></td>
                                                <td>{{processorData.temperature}}</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- .right-sidebar -->
        <div class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                <div class="r-panel-body">
                    <ul>
                        <li><b>Layout Options</b></li>
                        <li>
                            <div class="checkbox checkbox-info">
                                <input id="checkbox1" type="checkbox" class="fxhdr">
                                <label for="checkbox1"> Fix Header </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox2" type="checkbox" checked="" class="fxsdr">
                                <label for="checkbox2"> Fix Sidebar </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox checkbox-success">
                                <input id="checkbox4" type="checkbox" class="open-close">
                                <label for="checkbox4"> Toggle Sidebar </label>
                            </div>
                        </li>
                    </ul>
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Light sidebar</b></li>
                        <li><a href="javascript:void(0)" theme="default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" theme="green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" theme="gray" class="yellow-theme">3</a></li>
                        <li><a href="javascript:void(0)" theme="blue" class="blue-theme">4</a></li>
                        <li><a href="javascript:void(0)" theme="purple" class="purple-theme">5</a></li>
                        <li><a href="javascript:void(0)" theme="megna" class="megna-theme working">6</a></li>
                        <li><b>With Dark sidebar</b></li>
                        <br/>
                        <li><a href="javascript:void(0)" theme="default-dark" class="default-dark-theme">7</a></li>
                        <li><a href="javascript:void(0)" theme="green-dark" class="green-dark-theme">8</a></li>
                        <li><a href="javascript:void(0)" theme="gray-dark" class="yellow-dark-theme">9</a></li>
                        <li><a href="javascript:void(0)" theme="blue-dark" class="blue-dark-theme">10</a></li>
                        <li><a href="javascript:void(0)" theme="purple-dark" class="purple-dark-theme">11</a></li>
                        <li><a href="javascript:void(0)" theme="megna-dark" class="megna-dark-theme">12</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.right-sidebar -->
</div>
<input type="hidden" id="batchNo" value="<?php $batchNo = isset($_GET['batchNo'])?$_GET['batchNo']:''; echo $batchNo;?>">