<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Dashboard</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a (click)="logOut()" href="javascript:void(0);" class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Log out</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="white-box">
                <div class="user-bg">
                    <div class="overlay-box">
                        <div class="user-content">
                            <h1 class="text-white" id="userName">{{userInfo.name}}</h1>
                            <h2 class="text-white" id="currentUserAddress">{{userInfo.address}}</h2>
                        </div>
                    </div>
                </div>
                <div class="user-btm-box">
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-purple"><i class="fa fa-mobile"></i> Contact No</p>
                        <h1 id="userContact">{{userInfo.contact}}</h1>
                    </div>

                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-blue"><i class="fa fa-user"></i> Role</p>
                        <h1 id="userRole">{{userInfo.role}}</h1>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-danger"><i class="fa fa-gears"></i> Settings</p>
                        <a class="btn btn-info m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light" id="editUser" href="javascript:void(0);" >Edit</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--row -->
    <!-- /.row -->
    

                    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Batches Overview</h3> 
                <div class="table-responsive">
                    <table class="table product-overview" id="userCultivationTable">
                        <thead>
                            <tr>
                                <th>Batch ID</th>
                                <th>Farm Inspector</th>
                                <th>Harvester</th>
                                <th>Exporter</th>
                                <th>Importer</th>
                                <th>Processor</th>
                                <th>View</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngIf="batchInfo.length == 0">
                                    <td colspan="7" align="center">No Data Available</td>
                                </tr>
                                <tr *ngFor="let item of batchInfo">
                                    <td>{{item.no}}</td>

                                    <td *ngIf="item.stage > 0;else not0"><span class="white label label-success font-weight-100">Completed</span></td>
                                    <td *ngIf="item.stage == 0 && item.stage != stageMap.get(userInfo.role)"><span class="white label label-warning font-weight-100">Processing</span> </td>
                                    <td *ngIf="item.stage == 0 && item.stage == stageMap.get(userInfo.role)">
                                        <a onclick="javascript:$('#userFormModel').modal();" (click)="editingCurrentBatch(item.no)" class="popup-with-form">
                                          <span class="white label label-inverse font-weight-100">Update</span>
                                        </a>
                                    </td>

                                    <td *ngIf="item.stage > 1;else not1"><span class="white label label-success font-weight-100">Completed</span></td>
                                    <td *ngIf="item.stage == 1 && item.stage != stageMap.get(userInfo.role)"><span class="white label label-warning font-weight-100">Processing</span> </td>
                                    <td *ngIf="item.stage == 1 && item.stage == stageMap.get(userInfo.role)">
                                        <a onclick="javascript:$('#userFormModel').modal();" (click)="editingCurrentBatch(item.no)" class="popup-with-form">
                                          <span class="white label label-inverse font-weight-100">Update</span>
                                        </a>
                                    </td>

                                    <td *ngIf="item.stage > 2;else not2"><span class="white label label-success font-weight-100">Completed</span></td>
                                    <td *ngIf="item.stage == 2 && item.stage != stageMap.get(userInfo.role)"><span class="white label label-warning font-weight-100">Processing</span> </td>
                                    <td *ngIf="item.stage == 2 && item.stage == stageMap.get(userInfo.role)">
                                        <a onclick="javascript:$('#userFormModel').modal();" (click)="editingCurrentBatch(item.no)" class="popup-with-form">
                                          <span class="white label label-inverse font-weight-100">Update</span>
                                        </a>
                                    </td>

                                    <td *ngIf="item.stage > 3;else not3"><span class="white label label-success font-weight-100">Completed</span></td>
                                    <td *ngIf="item.stage == 3 && item.stage != stageMap.get(userInfo.role)"><span class="white label label-warning font-weight-100">Processing</span> </td>
                                    <td *ngIf="item.stage == 3 && item.stage == stageMap.get(userInfo.role)">
                                        <a onclick="javascript:$('#userFormModel').modal();" (click)="editingCurrentBatch(item.no)" class="popup-with-form">
                                          <span class="white label label-inverse font-weight-100">Update</span>
                                        </a>
                                    </td>

                                    <td *ngIf="item.stage > 4;else not4"><span class="white label label-success font-weight-100">Completed</span></td>
                                    <td *ngIf="item.stage == 4 && item.stage != stageMap.get(userInfo.role)"><span class="white label label-warning font-weight-100">Processing</span> </td>
                                    <td *ngIf="item.stage == 4 && item.stage == stageMap.get(userInfo.role)">
                                        <a onclick="javascript:$('#userFormModel').modal();" (click)="editingCurrentBatch(item.no)" class="popup-with-form">
                                          <span class="white label label-inverse font-weight-100">Update</span>
                                        </a>
                                    </td>

                                    <ng-template #not0><td *ngIf="item.stage != 0"><span class="white label label-danger font-weight-100">Not Available</span></td></ng-template>
                                    <ng-template #not1><td *ngIf="item.stage != 1"><span class="white label label-danger font-weight-100">Not Available</span></td></ng-template>
                                    <ng-template #not2><td *ngIf="item.stage != 2"><span class="white label label-danger font-weight-100">Not Available</span></td></ng-template>
                                    <ng-template #not3><td *ngIf="item.stage != 3"><span class="white label label-danger font-weight-100">Not Available</span></td></ng-template>
                                    <ng-template #not4><td *ngIf="item.stage != 4"><span class="white label label-danger font-weight-100">Not Available</span></td></ng-template>
                                    <td><a target="_blank" class="text-inverse p-r-10" data-toggle="tooltip" title="View" (click)="viewBatch(item.no)"><i class="fa fa-eye"></i></a></td>
                                </tr>                                         
                        </tbody>
                    </table>                  
                </div>
            </div>
        </div>
    </div>                
</div>
<!-- /.container-fluid -->

<div id="userFormModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; padding-top: 150px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div *ngIf="stageMap.get(userInfo.role) == 0"><h1>Farm Inspection</h1><br></div>
                <div *ngIf="stageMap.get(userInfo.role) == 1"><h1>Harvesting</h1><br></div>
                <div *ngIf="stageMap.get(userInfo.role) == 2"><h1>Exporting</h1><br></div>
                <div *ngIf="stageMap.get(userInfo.role) == 3"><h1>Importing</h1><br></div>
                <div *ngIf="stageMap.get(userInfo.role) == 4"><h1>Processing</h1><br></div>
            </div>
            <div class="modal-body">
                <div *ngIf="stageMap.get(userInfo.role) == 0" class="farm-inspection">
                    <div class="form-group">
                        <label class="control-label" for="typeOfSeed">Type of Seed</label>
                        <input type="text" class="form-control" id="typeOfSeed" name="typeOfSeed" placeholder="type of seed" data-parsley-required="true"
                        [(ngModel)]="farmForm.seedType" #seedType="ngModel">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="coffeeFamily">Coffee Family</label>
                        <input type="text" class="form-control" id="coffeeFamily" name="coffeeFamily" placeholder="coffee family" data-parsley-required="true"
                        [(ngModel)]="farmForm.family" #family="ngModel">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="fertilizer">Fertilizer Used</label>
                        <input type="text" class="form-control" id="fertilizerUsed" name="fertilizer" placeholder="fertilizer used" data-parsley-required="true"
                        [(ngModel)]="farmForm.fert" #fert="ngModel">
                    </div>
                        <div class="form-group float-right">
                        <button type="reset" class="btn btn-default waves-effect" (click)="clearFarmForm()">Reset</button>
                        <button type="button" id="updateFarmInspection" class="btn btn-primary" (click)="updateFarmInspectorDeta()">Submit</button>
                    </div>
                </div>
                <div *ngIf="stageMap.get(userInfo.role) == 1" class="harvester">
                    <div class="form-group">
                        <label class="control-label" for="cropVariety">Coffee Variety</label>
                        <input type="text" class="form-control" id="cropVariety" name="cropVariety" placeholder="coffee variety" data-parsley-required="true"
                        [(ngModel)]="harvesterForm.variety" #variety="ngModel">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="temperatureUsed">Temperature (in Fahrenheit)</label>
                        <input type="text" class="form-control" id="temperatureUsed" name="temperatureUsed" placeholder="temperature" data-parsley-required="true"
                        [(ngModel)]="harvesterForm.temperature" #temperature="ngModel">
                    </div>
                        <div class="form-group">
                        <label class="control-label" for="humidity">Humidity</label>
                        <input type="text" class="form-control" id="humidity" name="humidity" placeholder="humidity" data-parsley-required="true"
                        [(ngModel)]="harvesterForm.humidity" #humidity="ngModel">
                    </div>                                
                    <div class="form-group float-right">
                        <button type="reset" class="btn btn-default waves-effect" (click)="clearHarvesterForm()">Reset</button>
                        <button type="button" id="updateHarvest"class="btn btn-primary" (click)="updateHarvesterData()">Submit</button>
                    </div>
                </div>
                <div *ngIf="stageMap.get(userInfo.role) == 2" class="exporter">
                    <div class="form-group">
                        <label class="control-label" for="quantity">Quantity (in Kg)</label>
                        <input type="number" min="1" class="form-control" id="quantity" name="quantity" placeholder="Quantity" data-parsley-required="true"
                        [(ngModel)]="exporterForm.quantity" #exporterQuantity="ngModel">
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="destinationAddress">Destination Address</label>
                        <input type="text" class="form-control" id="destinationAddress" name="destinationAddress" placeholder="Destination Address" data-parsley-required="true"
                        [(ngModel)]="exporterForm.destination" #destination="ngModel">
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="shipName">Ship Name</label>
                        <input type="text" class="form-control" id="shipName" name="shipName" placeholder="Ship Name" data-parsley-required="true"
                        [(ngModel)]="exporterForm.shipName" #shipName="ngModel">
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="shipNo">Ship No</label>
                        <input type="text" class="form-control" id="shipNo" name="shipNo" placeholder="Ship No" data-parsley-required="true"
                        [(ngModel)]="exporterForm.shipNo" #shipNo="ngModel">
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="estimateDateTime">Estimate Datetime</label>
                        <input type="date" class="form-control datepicker-master" id="estimateDateTime" name="estimateDateTime" placeholder="Estimate Datetime" data-parsley-required="true"
                        [(ngModel)]="exporterForm.dateTime" #dateTime="ngModel">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exporterId">Exporter ID</label>
                        <input type="number" class="form-control" id="exporterId" name="exporterId" placeholder="Exporter ID" data-parsley-required="true"
                        [(ngModel)]="exporterForm.exporterID" #exporterId="ngModel">
                    </div>
                    <div class="form-group float-right">
                        <button type="reset" class="btn btn-default waves-effect" (click)="clearExporterForm">Reset</button>
                        <button type="button" id="updateExport" class="btn btn-primary" (click)="updateExporterData()">Submit</button>
                    </div>
                </div>
                <div *ngIf="stageMap.get(userInfo.role) == 3" class="importer">
                    <div class="form-group">
                        <label class="control-label" for="quantity">Quantity</label>
                        <input type="number" min="1" class="form-control" id="quantity" name="quantity" placeholder="Quantity" data-parsley-required="true"
                        [(ngModel)]="importerForm.quantity" #importerQuanity="ngModel">
                    </div>
                
                    <div class="form-group">
                        <label class="control-label" for="shipName">Ship Name</label>
                        <input type="text" class="form-control" id="shipName" name="shipName" placeholder="Ship Name" data-parsley-required="true"
                        [(ngModel)]="importerForm.shipName" #importerShipName="ngModel">
                    </div> 
                
                    <div class="form-group">
                        <label class="control-label" for="shipNo">Ship No</label>
                        <input type="text" class="form-control" id="shipNo" name="shipNo" placeholder="Ship No" data-parsley-required="true"
                        [(ngModel)]="importerForm.shipNo" #importerShipNo="ngModel">
                    </div> 
                
                    <div class="form-group">
                        <label class="control-label" for="transportInfo">Transport Info</label>
                        <input type="text" class="form-control" id="transportInfo" name="transportInfo" placeholder="Transport Info" data-parsley-required="true"
                        [(ngModel)]="importerForm.transportInfo" #importerTransportInfo="ngModel">
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="warehouseName">Warehouse Name</label>
                        <input type="text" class="form-control" id="warehouseName" name="warehouseName" placeholder="Warehouse Name" data-parsley-required="true"
                        [(ngModel)]="importerForm.warehouseName" #warehouseName="ngModel">
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="warehouseAddress">Warehouse Address</label>
                        <input type="text" class="form-control" id="warehouseAddress" name="warehouseAddress" placeholder="Warehouse Address" data-parsley-required="true" 
                        [(ngModel)]="importerForm.warehouseAddress" #warehouseAddress="ngModel">
                    </div>                              
                    <div class="form-group">
                        <label class="control-label" for="importerId">Importer Id</label>
                        <input type="number" min="1" class="form-control" id="importerId" name="importerId" placeholder="Importer Id" data-parsley-required="true" 
                        [(ngModel)]="importerForm.importerID" #importerId="ngModel">
                    </div>                              
                    
                        <div class="form-group float-right">
                        <button type="reset" class="btn btn-default waves-effect" (click)="clearImporterForm()">Reset</button>
                        <button type="button" id="updateImport"class="btn btn-primary" (click)="updateImporterData()">Submit</button>
                    </div>
                </div>
                <div *ngIf="stageMap.get(userInfo.role) == 4" class="processing">
                    <div class="form-group">
                        <label class="control-label" for="quantity">Quantity (in Kg)</label>
                        <input type="number" min="1" class="form-control" id="quantity" name="quantity" placeholder="Quantity" data-parsley-required="true">
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="processingTemperature">Temperature (in Fahrenheit)</label>
                        <input type="text" class="form-control" id="processingTemperature" name="temperature" placeholder="Temperature" data-parsley-required="true">
                    </div>                              
                    <div class="form-group">
                        <label class="control-label" for="rostingDuration">Time for Roasting (in Seconds)</label>
                        <input type="number" min="1" class="form-control" id="rostingDuration" name="rostingDuration" placeholder="Time for roasting" data-parsley-required="true" >
                    </div>
                
                    <div class="form-group">
                        <label class="control-label" for="internalBatchNo">Internal Batch no</label>
                        <input type="text" class="form-control" id="internalBatchNo" name="internalBatchNo" placeholder="Internal Batch no" data-parsley-required="true">
                    </div>
                
                    <div class="form-group">
                        <label class="control-label" for="packageDateTime">Packaging Date & Time</label>
                        <input type="text" class="form-control datepicker-master" id="packageDateTime" name="packageDateTime" placeholder="Packaging Date" data-parsley-required="true">
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="processorName">Processor Name</label>
                        <input type="text" class="form-control" id="processorName" name="processorName" placeholder="Processor Name" data-parsley-required="true">
                    </div>                              
                    <div class="form-group">
                        <label class="control-label" for="processorAddress">Processor Address</label>
                        <input type="text" class="form-control" id="processorAddress" name="processorAddress" placeholder="Processor Address" data-parsley-required="true">
                    </div>
                        <div class="form-group float-right">
                        <button type="reset" class="btn btn-default waves-effect" (click)="clearProcessingForm()">Reset</button>
                        <button type="button" id="updateProcessor"class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>